<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A2MLNTQzNzJlMjQyYTUzAfajTJ4YpPsAi9ZJ6hhn0AoGz/TZPdsOaXspT46fFlugAQ/Vika/UoHY6aKTFTcCHmNMh1hS98qOrZJgFVzf+E34AxmrMdtq/OU/qE2xis7aSZj7qmKzw0e//dtNt1btvSD/ldavISmzBFdR3i3yalyKGftYmPhx7Geign00ztLTeStQdMg4</string>
	<key>email</key>
	<string>caldwellbenjamin8@gmail.com</string>
	<key>hash</key>
	<string>D/X/bJopINZd7PYHgnA5BOQcmIWRLXiJjQ8XbaMYQxfG2McC4z7CgOKHZ8SOKL+ZVA+OOCAwWRb1tjKR6OKt0DrEDQGldMWrMiyc/dz9uuZ+mf/31dNqMPcDOuVtQAnIO4AGduVrjBs1zFcrsxJ38mzvjFMvQhuyprAjN3/fq+rR1XPxJY9A</string>
</dict>
</plist>
