<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignorevaults</key>
	<array>
		<string>wzmkowyovsjwuzppeyrggwiuf4</string>
		<string>6xchn3lkizl7slqal2xo3cvjre</string>
		<string>5ug542ucwfacexxsqh4lfj5kxi</string>
		<string>p7vp527t6mze7bux4rgkqbeozi</string>
		<string>z4e62f2qe4yqbbksool5jlhk2u</string>
		<string>ljnuqeje7mtlkjyn3tukgml4xi</string>
		<string>6c4qrjgexr2uloe562zjur3klm</string>
	</array>
</dict>
</plist>
